<div class="product-list">
    <% data.forEach(product => { %>
      <div class="product-item">
        <h3><%= product.name %></h3>
        <p><%= product.description %></p>
        <p>Precio: $<%= product.price %></p>
        <button class="add-to-cart" data-id="<%= product.id %>">Agregar al carrito</button>
      </div>
    <% }); %>
  </div>